*, *:after , *:before{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{	
	
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	color: #333;
	line-height: 1.6;
}
/* Container*/
.container {
	padding: 0 15px;
	max-width: 1230px;
	width: 100%;
	margin: 0 auto;
}

/* Intro*/
.intro{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100vh;
	background: url("intro.jpg") center no-repeat;
	background-size: cover;
}

.intro_title{
	color: #fff;
	font-size: 150px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1;
}

.intro_title:after{
	content: "";
	display: block;	
	width: 60px;
	height: 3px;
	margin: 60px auto 60px;

	background-color: #fff;
}

.intro_inner{
	text-align: center;
	width: 100%;
	max-width: 880px;
	margin: 0 auto;
}

.intro_suptitle{
	margin-bottom: 20px;
	font-size: 72px;
	color: #fff;
	font-family: "Kaushan Script", cursive;
}

/*Header*/
header{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	padding-top: 30px;
}

.header_logo{
	font-size: 30px;
	color: #fff;
	font-weight: 700;
}

.header_inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header.fixed{
	background: #eb8b8d;
	padding: 10px 0;

	position: fixed;
	top: 0;
	right: 0;
	left: 0;

	transform: translate3d(0,0,0);

	box-shadow: 0 3px 10px rgba(0,0,0,0.2);

}

.header.active{
	background-color: #eb8b8d;
}

/*Nav*/
.nav{
	font-size: 14px;
	text-transform: uppercase;
}

.nav.active{
	display: block;
}

.nav_link{
	text-decoration: none;
	color: #fff;
	display: inline-block;
	vertical-align: top;
	margin: 0 15px;
	transition: color 0.2s linear; /*плавность перехода цвета*/
	position: relative;
}

.nav_link:hover{
	color: #fce38a;
}

.nav_link:hover:after{
	opacity: 1;
}

.nav_link:after{
	content: "";
	display: block;
	width: 100%;
	opacity: 0;
	height: 3px;
	background: #fce38a;
	position: absolute;
	top:100%;
	left: 0;
	z-index: 1;

	transition: opacity 0.2s linear;
}

.nav_toggle{
	position: absolute;
	top: 30px;
	right: 30px;
	z-index: 1;
	width: 30px;
	padding: 10px 0;

	font-size: 0;
	background-color: transparent;
	color: transparent;
	display: none;

	border:0;

	cursor: pointer;

}

.nav_toggle_item{
	display: block;
	width: 100%;
	height: 3px;
	background-color: #fff;

	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;	
}

.nav_toggle_active .nav_toggle_item{
	background: none;
}

.nav_toggle_item:before,
.nav_toggle_item:after{
	content: "";
	width: 100%;
	height: 3px;
	position: absolute;
	background-color: #fff;
	left: 0;
	z-index: 1;
}



.nav_toggle_item:before{
	top: -8px;
}

.nav_toggle_item:after{
	bottom: -8px;
}

/*Button*/
.btn{
	display: inline-block;
	vertical-align: top;
	border:3px solid #fff;
	padding: 8px 30px;

	text-decoration:none;
	font-size: 14px;
	font-weight: 700;

	color: #fff; 
	text-transform: uppercase;

	transition: background 0.2s linear,
	color 0.2s linear;
}

.btn:hover{
	background: #fff;
	color: #333;
}

/*Section*/
.section{
	padding: 80px 0;
}

.section_header{
	width: 100%;
	max-width: 950px;
	margin: 0 auto 40px;
	text-align: center;
}

.section_suptitle{
	font-size: 24px;
	color: #333;
	font-family: "Kaushan Script", cursive;
}

.section_title{
	font-size: 30px;
	color: #333;
	text-transform: uppercase;
	font-weight: 700;
}

.section_title:after{
	content: "";
	display: block;
	background-color: #f38181;
	width: 60px;
	height: 3px;
	margin: 30px auto;
}

.selection_text{
	font-size: 15px;
	color: #999;
}

/*About*/
.about{
	margin-top: 80px;
	display: flex;
	justify-content: space-between;
}

.about_item{
	width: 380px;
	background-color: #95e1d3;
	position: relative;
}

.about_item:hover .about_img{
	transform: translate3d(-10px,-10px,0);
}

.about_item:hover .about_img img{
	opacity: 0.1;
}

.about_item:hover .about_text{
	opacity: 1;
}

.about_img{
	background: linear-gradient(to bottom, #f38181,#fce38a);

	transition: transform 0.2s linear;
}

.about_img img{
	display: block;
	transition: opacity 0.2s linear;
}

.about_text{
	width: 100%;
	position: absolute;
	z-index: 2;
	font-size: 18px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
	opacity: 0;

	top:50%;
	left: 0;
	transform: translate3d(0,-50%,0);
	transition: opacity 0.2s linear;
}


/*Statistics*/
.statistics{
	background-color: #95e1d3;
}

.stat{
	display: flex;	
}

.stat_item{
	flex: 1 1 0; /*все колонки одинаковой ширины*/
	border-left: 1px solid #b5eae0;
	color: #fff;
	text-align: center;

	padding: 70px 25px;
}

.stat_item:last-child{
	border-right: 1px solid #b5eae0;
}

.stat_count{
	font-size:72px;
	font-weight: 700;
	line-height: 1;
	margin-bottom: 10px;
}

.stat_text{
	font-size:14px;
	text-transform: uppercase;
}


@media (max-width: 1230px){
	.intro_subtitle{
		font-size: 52px;
	}

	.intro_title{
		font-size:  120px;
	}
}

@media (max-width: 990px){
	.intro_subtitle{
		font-size: 32px;
	}

	.intro_title{
		font-size:  80px;
	}
}


@media (max-width: 770px){
	.nav{
		display: none;
		width: 100%;
		position: absolute;
		top: 100%;
		left: 0;

		background-color: #eb8b8d;
	}

	.nav_link{
		display: block;
	}

	.nav_toggle{
		display: block;
	}

	.section{
		padding: 40px 0;
	}
}

@media (max-width: 575px){
	.intro_subtitle{
		font-size: 32px;
	}

	.intro_title{
		font-size:  80px;
	}
}




























